
# --- Generales ---
.vscode/*
!.vscode/extensions.json
node_modules/
.DS_Store
dist/
.env

# --- Frontend (React/Vite) ---
frontend/dist/
frontend/node_modules/
frontend/.env.local
frontend/coverage

# --- Backend (Node/Prisma) ---
backend/node_modules/
backend/dist/
backend/.env
backend/certs/

# Bases de Datos (Muy importante con Prisma 7)
backend/prisma/*.db
backend/prisma/*.db-journal
backend/dev.db
*.db
backend/src/generated/

# --- Almacenamiento Local ---
# Ignoramos las portadas reales pero mantenemos la carpeta
backend/storage/covers/*
!backend/storage/covers/.gitkeep





# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# pnpm
pnpm-lock.yaml
.pnpm-debug.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Testing
coverage

# Tauri (for future)
src-tauri/target
