<div class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm">
  Search page
  <section class="mb-6 border-gray-200 bg-gray-50 p-4">
    <form
      [formGroup]="searchForm"
      (ngSubmit)="onSubmit()"
      class="flex justify-between gap-3 items-end"
    >
      <div class="flex-1">
        <label for="searchText" class="block">Search text:</label>
        <input
          id="searchText"
          type="text"
          [attr.aria-invalid]="
            searchForm.get('searchText')?.invalid && searchForm.get('searchText')?.touched
          "
          formControlName="searchText"
          [class]="inputClasses()"
        />
        @if (searchForm.get('searchText')?.invalid && searchForm.get('searchText')?.touched) {
          <p class="text-red-500 text-xs mt-1 font-medium">Debes escribir algo para buscar.</p>
        }
      </div>

      <button
        type="submit"
        class="py-1 rounded flex items-center justify-center gap-1 bg-blue-400 px-4 font-semibold text-white"
      >
        <i class="fa-solid fa-magnifying-glass"></i>Buscar
      </button>
    </form>
  </section>
  <section class="mt-8">
    <p>Resultados:</p>
    @if (searchLoading()) {
      <p>Cargando resultados</p>
      <i class="fa-solid fa-spinner" style="color: rgb(99, 230, 190)"></i>
    } @else {
      <div class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-6">
        @for (book of searchResults(); track $index) {
          <search-result-card [book]="book" (selectBook)="this.selectBook($event)" />
        }
      </div>
    }
  </section>
  @if (this.bookForAdd(); as book) {
    <search-add-book-modal [book]="book" (selectBook)="this.selectBook($event)" />
  }
</div>
