<div class="fixed inset-0 z-1000 flex items-center justify-center bg-black/80 p-4">
  <div class="flex max-h-[90vh] w-full max-w-4xl flex-col rounded-lg bg-white shadow-xl">
    <!-- Header -->
    <div class="w-full flex justify-between p-2">
      <p>Editar Metadata del Libro:</p>
      <button
        (click)="closeModal()"
        class="rounded text-2xl text-white hover:text-gray-700 p-2 bg-amber-200"
      >
        Cerrar
      </button>
    </div>
    <!-- Form -->
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <!-- Título -->
      <div class="">
        <label for="title" class="">Título *:</label>
        <input id="title" type="text" class="bg-gray-300" formControlName="title" />
      </div>
      <!-- Autores -->
      <div>
        <label for="authors" class=""> Autor(es) * (separados por coma):</label>
        <input id="authors" type="text" class="bg-gray-300" formControlName="authors" />
      </div>

      <!-- ISBN -->
      <div>
        <label for="isbn" class="">ISBN:</label>
        <input id="isbn" type="text" class="bg-gray-300" formControlName="isbn" />
      </div>

      <!-- Editorial -->
      <div>
        <label for="publisher" class="">Editorial:</label>
        <input id="publisher" type="text" class="bg-gray-300" formControlName="publisher" />
      </div>

      <!-- Número de páginas -->
      <div>
        <label for="pageCount" class="">Número de páginas:</label>
        <input id="pageCount" type="number" class="bg-gray-300" formControlName="pageCount" />
      </div>

      <!-- Descripción -->
      <div>
        <label for="description" class="">Descripción:</label>
        <textarea id="description" t class="bg-gray-300" formControlName="description"></textarea>
      </div>

      <button
        type="submit"
        class="rounded text-2xl mr-2 text-white hover:text-gray-700 p-2 bg-amber-200"
      >
        Enviar
      </button>
      <button type="reset" class="rounded text-2xl text-white hover:text-gray-700 p-2 bg-amber-200">
        Resetar form
      </button>
    </form>
  </div>
</div>
